{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@components": "./src/components",
          "@services": "./src/services",
          "@utils": "./src/utils"
        }
      }
    ]
  ]
}
