{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "rules": {
    "react/jsx-filename-extension": [1, {"extensions": [".js", ".jsx"]}],
    "react/prop-types": 0,
    "no-console": "warn",
    "no-unused-vars": "warn"
  },
  "env": {
    "browser": true,
    "node": true
  }
}
